{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bagus.Profile</title>
    </head>

    <body style = "background-color: #5CDB95;">
        <div class="header">
            <h1 id="name">Bagus Pribadi</h1>
        </div>
        
        <div class="circle"></div>
        
        <div class="circle" id="selfphoto"></div>
        
        <div class="flex-container">
        <div class="row" id="row-one" align = "center">
            <div class="flex-box">
                <div class="card" id="card-coding" align = "left">
                    <div class="card-header">
                        CODING
                    </div>
                    <div class="card-body" id="coding">
                        <div class="progress" id="progPy" style="height : 1vmax">
                            <div class="progress-bar" role="progressbar" style="width: 15vmax" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress" id="progJa" style="height : 1vmax">
                            <div class="progress-bar" role="progressbar" style="width: 18vmax" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress" id="progJs" style="height : 1vmax">
                            <div class="progress-bar" role="progressbar" style="width: 5vmax" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress" id="progHt" style="height : 1vmax">
                            <div class="progress-bar" role="progressbar" style="width: 10vmax" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress" id="progAs" style="height : 1vmax">
                            <div class="progress-bar" role="progressbar" style="width: 16vmax" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <blockquote class="blockquote mb-0">
                            <ul style = "font-size : 2vmax;">
                                <li>Python</li>
                                <li>Java</li>
                                <li>JavaScript</li>
                                <li>HTML</li>
                                <li>Assembly</li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="flex-box">
                <div class="card" id="card-hobbies">
                    <div class="card-header">
                        HOBBIES
                    </div>
                    <div class="card-body" id="hobbies">
                        <blockquote class="blockquote mb-0">
                            <ul style = "font-size : 2vmax;">
                                <li>Kick Boxing</li>
                                <li>Listening Musics</li>
                                <li>Watching Movies</li>
                                <li>Studying</li>
                                <li>Playing Video Games</li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <img src = "{%static 'oak-31915_960_720.png'%}" class = "tree" id = "tree1">
        <img src = "{%static 'oak-31915_960_720.png'%}" class = "tree" id = "tree2">
        <img src = "{%static 'images (1).png'%}" class = "tree" id = "tree3">
        <img src = "{%static 'images.png'%}" class = "tree" id = "tree4">
        
        <div class="flex-container">
        <div class="row" id="row-two" align = "center">
            <div class="flex-box">
                <div class="card" id="card-education">
                    <div class="card-header">
                        EDUCATION
                    </div>
                    <div class="card-body" id="education">
                        <blockquote class="blockquote mb-0">
                            <p style = "font-size : 2vmax;">SDN Semeru Satu<br><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;SMPN 6 Bogor<br><br>SMAN 5 Bogor<br><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Universitas Indonesia</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="flex-box">
                <div class="card" id="card-organization">
                    <div class="card-header">
                        ORGANIZATION
                    </div>
                    <div class="card-body" id="organization">
                        <blockquote class="blockquote mb-0">
                            <ul style = "font-size : 2vmax;">
                                <li>Head of Tarung Drajat Club in Highschool</li>
                                <li>Staff of OSIS in Highschool</li>
                                <li>Staff of DPM Fasilkom UI</li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div class="flex-container">
        <div class="row" id="row-three">
            <div class="flex-box">
                <div class="card" id="card-about">
                    <div class="card-header">
                        ABOUT ME
                    </div>
                    <div class="card-body" id="about">
                        <blockquote class="blockquote mb-0">
                            <p style = "font-size : 2vmax;">A highly motivated college student able to use<br>multiple programming language such as Python<br>and Java. Currently learning how to be able to<br>develop website effectively. Hold the title<br>"World Wide Handsome"</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="flex-box">
                <div class="card" id="card-relations">
                    <div class="card-header">
                        RELATIONS
                    </div>
                    <div class="card-body" id="relations">
                        <blockquote class="blockquote mb-0">
                            <h1 style="font-size : 2vmax;"><a href="relations.html">Click HERE for more info.</a></h1>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <h1 id="end">Contact :</h1>
        
        <div class = "footer" id="footer2" align= "center">
            <ul class = "foot" id="foot2" style = "font-size : 2vmax;" align = "center">
                <li><img src ="https://marvel-live.freetls.fastly.net/canvas/2018/9/506a9566aefd48c29bd60452bb8065a6?quality=95&fake=.png">&nbsp;: bagusprib</li>
                <li><img src ="https://marvel-live.freetls.fastly.net/canvas/2018/9/3aa8ee0199344e29b4aa42d7ebb52f6c?quality=95&fake=.png">&nbsp;: 082111127687</li>
                <li><img src ="https://marvel-live.freetls.fastly.net/canvas/2018/9/be32be72f19b4ff9a90fa60a486e9721?quality=95&fake=.png">&nbsp;: bagus_phe</li>
            </ul>
        </div>
        <div class = "footer" id="footer1">
            <ul class ="foot" id="foot1" align = "center">
                <h1 style = "font-size : 3vmax;"><a href="message.html">or click here to message me!</a></h1>
            </ul>
        </div>
    </body>

</html>
{% endblock %}