{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Message.Bagus</title>
    </head>

    <body style = "background-color: #5CDB95;">
        <div class="header" id="messagebar">
            <h1 id="messaging">Message</h1>
        </div>
    </body>
    
    <div class="messagecard" align = "left">
        <div class="card-header" style="width : 85vmax;">
            Please Send Me Message!
        </div>
        <div class="card-body" id="message">
            <div class="row" align = "left">
                <div class="col-md-6">
                    <blockquote class="blockquote mb-0">
                        <ul style = "font-size : 3vmax;">
                            <form action="/action_page.php" style="width: 1vmax;">
                                Name: <input type="text" name="name"required><br>
                                Date: <input type="text" name="date" required><br>
                                Email: <input type="text" name="email" required><br>
                                Subject: <input type="text" name="subject" required><br>
                                Message: 
                                <textarea name="message" required></textarea>
                                <input type="submit" value="Submit">
                            </form>
                        </ul>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <img src = "{%static 'giphy.png'%}" style="margin-left : 22vmax; width : 35vmax; height : 35vmax;">
                </div>
            </div>
            <h1 style = "font-size : 3vmax;"><a href="aboutMe.html">or click here to go back!</a></h1>
        </div>
    </div>

</html>
{% endblock %}