{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Relations.Bagus</title>
    </head>

    <body style = "background-color: #5CDB95;">
        <div class="header" id="messagebar">
            <h1 id="messaging">Relations</h1>
        </div>
    </body>
    
    <div class="messagecard" align = "left">
        <div class="card-header" style="width : 85vmax;">
            Meet These Awesome Person!
        </div>
        <div class="card-body" id="message">
            <div class="card-body" id="people">
            <div class="row" align = "left">
                <div class="col-md-4">
                    <img src = "{%static 'cassie.jpg'%}" class="bestfriend" id="cassiegreta">
                </div>
                <div class="col-md-4">
                    <img src = "{%static 'steffi.jpg'%}" class="bestfriend" id="steffiL">
                </div>
                <div class="col-md-4">
                    <img src = "{%static 'tio.jpg'%}" class="bestfriend" id="tiowibi">
                </div>
            </div>
            <div class="row" align = "left">
                <div class="col-md-4">
                    <img src = "{%static 'greta.jpg'%}" class="bestfriend" id="cassiegreta">
                </div>
                <div class="col-md-4">
                    <img src = "{%static 'L.jpg'%}" class="bestfriend" id="steffiL">
                </div>
                <div class="col-md-4">
                    <img src = "{%static 'wibi.jpg'%}" class="bestfriend" id="tiowibi">
                </div>
            </div>
            <h1 style = "font-size : 3vmax;"><a href="aboutMe.html">click here to go back!</a></h1>
        </div>
    </div>

</html>
{% endblock %}