{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2018:2070",
                });
            });
        </script>
        <title>Schedule.Bagus</title>
    </head>

    <body style = "background-color: #5CDB95;">
        <div class="header" id="messagebar">
            <h1 id="messaging">Schedule</h1>
        </div>
    </body>
    
    <br>
    
    <div class="flex" style="width : 50%; margin-left : 25%;">
        <section name="form">
            <form id="form" method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Submit" style="width : 60px;">
            </form>
            <form action="clear" id="form" method="POST" class="post-form">
                {% csrf_token %}
                <button name="Clear" style="width : 60px;">Clear</button>
            </form>
        </section>
    </div>
    
    <br><br>
    
    <div class = "fle" style="width:90%; margin-left:5%;">
        <div class="table">
            <table class="table">
                <thead style="font-color = 05386B">
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Place</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    {% for i in sch %}
                    {% if i.name == null or i.class == null %}
                    <tr class="warning"> {% else %} <tr class="success">
                        {% endif %}
                        <td> {{i.name}} </td>
                        <td> {{i.date}} </td>
                        <td> {{i.time}} </td>
                        <td> {{i.place}} </td>
                        <td> {{i.type}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>

</html>
{% endblock %}