.header {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/cd61273ecd764c68a1744e2e683f7422?quality=95&fake=.png);
    background-size: 100%;
    height: 125px;
    margin-top : 75px;
    width : 100%;
}

.message {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/cd61273ecd764c68a1744e2e683f7422?quality=95&fake=.png);
    border-radius: 65px;
    width: 500px;
    height: 133px;
    margin-top : 0px;
    position : absolute;
}

#messagebar {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/cd61273ecd764c68a1744e2e683f7422?quality=95&fake=.png);
    z-index : 100;
}
  
#name {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 400;
    line-height: 117px;
    width: 75%;
    text-align: center;
}

#messaging {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 400;
    line-height: 117px;
    width: 100%;
    text-align: center;
}
    
.circle {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/cd61273ecd764c68a1744e2e683f7422?quality=95&fake=.png);
    left : 1097px; 
    top : 10px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    position : absolute;
}
    
#selfphoto {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/ba1c21d92a784dde983b65b55d37611c?quality=95&fake=.png);
    background-size: 100%;
    left : 1109.5px;
    top : 22.5px;
    border-radius: 100%;
    width: 225px;
    height: 225px;
}
.row {
    margin-top : 100px;
    margin-left : 50px;
}

.col-md-6 {
    padding-left : 20vmax;
}

.card {
    background-color: #B2FACD;
    opacity: 0.75;
    width: 47vmax;
    height: 30vmax;
    min-width: 25vmax;
    min-height: 15vmax;
    position : absolute;
}

.messagecard {
    background-color: #B2FACD;
    opacity: 0.75;
    width: 85vmax;
    height: 850px;
    position : absolute;
    margin-left : 5vmax;
    margin-top : 5vmax;
}

.textarea {
    width : 600px;
    height : 300px;
}

.card-header {
    color: #05386B;
    font-size: 3vmax;
    font-weight: 400;
    line-height: 41px;
    width: 100%;
    text-align: center;
}

#coding {
    color: #05386B;
    font-size: 2vmax;
    font-weight: 400;
    line-height: 3vmax;
    width: 200px;
    padding: 1vmax;
    text-align: left;
}

#hobbies {
    color: #05386B;
    font-size: 2vmax;
    font-weight: 400;
    line-height: 3vmax;
    width: 602px;
    padding: 1vmax;
    text-align: left;
}

#education {
    color: #05386B;
    font-size: 1vmax;
    font-weight: 400;
    line-height: 2vmax;
    width: 602px;
    text-align: left;
}

#organization {
    color: #05386B;
    font-size: 2vmax;
    font-weight: 400;
    line-height: 3vmax;
    text-align: left;
}

#about {
    color: #05386B;
    font-size: 2vmax;
    font-weight: 400;
    line-height: 2vmax;
    width: 602px;
}

#relations {
    color: #05386B;
    font-size: 2vmax;
    font-weight: 400;
    line-height: 15vmax;
    text-align: center;
    vertical-align : middle;
    text-decoration: underline;
}

#end {
    color: #EDF5E1;
    opacity : 0.99;
    font-size: 3vmax;
    font-weight: 400;
    line-height: 41px;
    text-align: left;
    margin-left : 100px;
    margin-top : 20px;
}

#message {
    color: #05386B;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    width: 602px;
    text-align: left;
}

.progress {
    max-width : 100%;
    margin-left : 18vmax;
}

#progPy {
    position : absolute;
    margin-top : 1vmax;
    z-index : 9;
}

#progJa {
    position : absolute;
    margin-top : 4vmax;
    z-index : 8;
}

#progJs {
    position : absolute;
    margin-top : 7vmax;
    z-index : 7;
}

#progHt {
    position : absolute;
    margin-top : 10vmax;
    z-index : 6;
}

#progAs {
    position : absolute;
    margin-top : 13vmax;
    z-index : 5;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.footer {
    display: flex;
    background-color: #05386B;
    border-radius: 100px;
    text-align : center;
    margin-top : 20px;
}

#footer1 {
    margin-left : 30vmax;
    width: 40vmax;
    height: 100px;
}

#footer2 {
    margin-left : 5vmax;
    width: 90vmax;
    height: 92px;
}

#foot1{
    
}

#foot2 {
    color: #EDF5E1;
    font-size: 26px;
    font-weight: 400;
    line-height: 92px;
    text-align: center;
    vertical-align : middle;
}

#foot2 li {
    display : inline;
    margin-right : 20px;
}

#foot2 li img {
    height : 40px;
    width : 40px;
}

.tree {
    position : absolute;
}

#tree1 {
    margin-top : 720px;
    margin-left : 1110px;
    width: 346px;
    height: 608px;
    z-index : -1;
}

#tree2 {
    margin-top : 928px;
    margin-left : 800px;
    width: 216px;
    height: 400px;
    z-index : -1;
}

#tree3 {
    margin-top: 1060px;
    margin-left: 300px;
    width: 134px;
    height: 268px;
    z-index : -1;
}

#tree4 {
    margin-top : 942.13px;
    width: 201px;
    height: 385.87px;
    z-index : -1;
}

.bestfriend {
    width : 25vmax;
    height : 15vmax;
}

#cassiegreta {
    margin-left: 0vmax;
}

#steffiL {
    margin-left: 13vmax;
}

#tiowibi {
    margin-left: 26vmax;
}

.fle {
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    margin-top : 50px;
}

#theader {
    background-color : #EDF5E1;
}